/* primer ejercicio */
.cuadrado {
    width: 200px;
    height: 200px;
    background-color: gray;
    position: relative;
    left: 50px;
}

.circulo {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 40%;
}

/* segundo ejercicio */

.container {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 15px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

 .contenido1 {
    background-color: red;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.contenido2 {
    background-color: blue;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 230px;
    left: 290px;
}

.contenido3 {
    background-color: green;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 190px;
    left: 10px;
}

.contenido4 {
    background-color: yellow;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 190px;
    left: 290px;
} 

/* tercer ejercicio  */

.container-2 {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 15px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.contenido1-2 {
    background-color: blue;
    width: 250px;
    height: 150px;
    position: absolute;
    left: 100px;
    top: 10px;
}
.contenido2-2 {
    background-color: green;
    width: 130px;
    height: 120px;
    position: absolute;
    left: 80px;
    top: 90px;
}
.contenido3-2 {
    background-color: yellow;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 290px;
    top: 50px;
}
.contenido4-2 {
    background-color: red;
    width: 260px;
    height: 85px;
    position: absolute;
    left: 150px;
    top: 180px;
} 

/* cuarto ejercicio */

.container-3 {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 15px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.contenido1-3 {
    background-color: green;
    width: 100px;
    height: 200px;
    position:absolute;
    left: 50px;
    top: 50px;
}

.contenido2-3 {
    background-color: yellow;
    width: 100px;
    height: 200px;
    position:absolute;
    left: 150px;
    top: 50px;
}

.contenido3-3 {
    background-color: red;
    width: 100px;
    height: 200px;
    position:absolute;
    left: 250px;
    top: 50px;
}

.contenido4-3 {
    background-color: blue;
    width: 100px;
    height: 200px;
    position:absolute;
    left: 350px;
    top: 50px;
}

/* cuarto ejercicio */

.container-4 {
    background-color: lightgray;
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 15px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.contenido1-4 {
    background-color: yellow;
    width: 370px;
    height: 80px;
    position: absolute;
    top: 180px;
    left: 70px;
}
.contenido2-4 {
    background-color: red;
    width: 370px;
    height: 80px;
    position: absolute;
    bottom: 180px;
    left: 70px;
}

.contenido3-4 {
    background-color: blue;
    width: 100px;
    height: 260px;
    position: absolute;
    left: 120px;
    top: 20px;
}

.contenido4-4 {
    background-color: green;
    width: 100px;
    height: 260px;
    position: absolute;
    left: 290px;
    top: 20px;
}

/* sexto ejercicio */

.casa {
    background-color: antiquewhite;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 700px;
}

.techo {
    background-color: red;
    border: solid 3px black;
    padding: 5px;
    width: 220px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.pared {
    background-color: gray;
    border: solid 3px black;
    padding: 5px;
    width: 200px;
    height: 150px;
    position: absolute;
    right: 20px;
    top: 56px;
}

.ventana1 {
    background-color: blue;
    border: solid 3px black;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 35px;
    top: 130px;
}
.ventana2 {
    background-color: blue;
    border: solid 3px black;
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 175px;
    top: 90px;

}

.puerta {
    background-color: brown;
    border: solid 3px black;
    padding: 5px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 29px;
    right: 95px;
}

.division {
    width: 100%;
    padding: 0.1%;
    background-color: black;
    margin-top: 2%;
}